<div class="produit-list-card">
    <h2>Produit List</h2>
    <a routerLink="/add-produit">Add Produit</a>
  
    <table class="produit-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Marque</th>
          <th>Prix</th>
          <th>Quantité en Stock</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of produits">
          <td>{{ produit.nom }}</td>
          <td>{{ produit.marque }}</td>
          <td>{{ produit.prix }}</td>
          <td>{{ produit.qteStock }}</td>
          <td>
            <a [routerLink]="['/edit-produit', produit.id]">Edit</a>
            <button (click)="deleteProduit(produit.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  